<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Classe numerique</title>
    <!-- LINK -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Classe numerique">
    <meta name="author" content="Guillaume Suiffet">

    <!-- LINK -->
    <link href="styles.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div>
    <div id="container"></div>
</div>
<script src="bundle.js"></script>
</body>
</html>