<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Classe numerique</title>

    <!-- LINK -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Classe numerique">
    <meta name="author" content="Guillaume Suiffet">

    <!-- LINK -->
    <script src="https://use.fontawesome.com/71d465e48e.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link href="//cdn.muicss.com/mui-0.9.35/css/mui.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div>
    <div id="container"></div>
</div>
<script src="//cdn.muicss.com/mui-0.9.35/js/mui.min.js"></script>
<script src="bundle.js"></script>
</body>
</html>